
.header {
    padding: 92px 50px 96px 50px;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    font-size: 18px;
    text-decoration-skip-ink: none;
    background-color: #FFFFFF;
    
}

.header__menu {
    display: flex;
    align-items: flex-start;
    gap: 33px;

}

.header__links-list {
    text-decoration: none;
    display: flex;
    align-items: flex-start;
    gap: 30px;
    flex-direction: row;
    list-style: circle;
}

.header__links-list-item {
    text-decoration: underline;
    text-underline-position: under;
    
}

.header__links-list-item_no-bullit {
    list-style: none;

}

.header__link {
    text-decoration: underline;

}

.header__link_active {
    text-decoration: none;
}

.header__logo {
    display: block;
    width: 138px;
    height: 104.6517562866211px;
    object-fit: contain;

}

.header__logo_image {
    justify-self: center;
    width: 138px;
    height: 104.6517562866211px;
}

.address {
    display: flex;
    flex-direction: column;
    max-width: 240px;
    text-underline-position: under;
    justify-self: end;
    font-style: inherit;
    line-height: 24.3px;
}

.header__address {
    display: flex;
    justify-self: end;
    flex-direction: column;
    align-items: flex-start;
    
}

.cover {
    position: relative;
    padding: 165px 50px 50px 50px;
    background-image: url(../images/cover.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 757px;
    width: 1100px;

}

.overlay {
    position: absolute;
    inset: 0;
    z-index: 0;
    background-color: rgb(0 0 0 / 0.6);
    
}

.cover__title {
    position: relative;
    z-index: 0;
    margin-bottom: 105px;
    color:#FFFFFF;
    font-size: 100px;
    line-height: 1.15;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    row-gap: 25px;

}

.aligned-text {
    letter-spacing: 0.3em;
    display: block;
    line-height: 115%;
    text-align: center;

}

.aligned-text_left {
    text-align: left;

}

.aligned-text_center {
    text-align: center;
    padding-left: 30px;
    margin-top: -5px;

}

.aligned-text_right {
    text-align: right;
    margin: -5px;
    
}

.letter-spacing-extended {
    letter-spacing: 0.6em;

}

.cover__description {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-transform: uppercase;

}

.cover__description-text {
    display: block;
    padding-bottom: -1;
    color: #FFFFFF;
    line-height: 127%;
    font-weight: 400;
    font-size: 22px;
    word-spacing: 1.1rem;
    z-index: 1;

}

.bet-button {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-left: auto;
    padding: 12px 32px;
    color: #FFFFFF;
    background-color: transparent;
    text-transform: uppercase;
    border: 1px solid;
    font-weight: 500;
    font-size: 22px;
    overflow: hidden;
    z-index: 1;
}

.lots {
    padding: 180px 24px 120px 24px;
    background-color: white;   
    
}

.lots__heading {
    font-size: 40px;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    

}

.lots__card-list {
    display: flex;
    gap: 25px;
    flex-direction: row ;
    list-style-type: none;
    
}

.lots__card-list-item {
    width: 334px;
    list-style: none;
    text-decoration: none;
    
}

.card-link {
    display: block;
    height: 100%;
    text-decoration: none;

}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    height: 596px;
    width: 100%;
    background-position: center;
    padding: 48px 40px;

}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 334px;
    height: 596px;
    margin-top: 27px;
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 334px;
    height: 596px;
    margin-top: 27px;
    
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 334px;
    height: 596px;
    margin-top: 27px;
}


.card__title {
    font-family: Raleway, sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: underline;
    color: white;
    z-index: 2;
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;
    line-height: 1.2;
}

.card__text {
    font-weight: 400px;
    font-size: 20px;
    line-height: 120%;
    color: white;
    text-decoration: none;
    z-index: 2;
    display: flex;
    width: 254px;
    left: 20px;
    text-align: justify; 
   
}


.lots__look-more-link {
    padding: 30px 40px 0px;
    text-underline-offset: 5px;
    font-size: 20px;

}

.about {
    min-width: 1052px;
    min-height: 595px;
    display: grid;
    justify-content: center;
    grid-template-columns: 334px 1fr;
    column-gap: 60px;
    background-color: white;
    padding: 35px 0px ;
    
}

.about__column {
    margin-top: 40px;
    
}


.about__logo {
    width: 240px;
    height: 240px;
    background: #000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about__logo-image {
    display: block;
    width: 141.54px;
    height: 112.55px;
}

.about__title {
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
    padding-top: 90px;
    
}

.about__text {
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 60px;
}

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 82px;
    background-color: white;
}

.footer__address {
    display: flex;
    flex-direction: column;
    justify-self: start;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.3px;
    padding-bottom: 50px;
}

.footer__menu {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 18px;
    
}

.footer__menu-list {
    list-style: none;
    padding: 0;

}

.footer__menu-list-item {
    text-decoration: none;

}

.footer__menu-link {
    text-decoration: underline;

}

.footer__menu-link_active {
    text-decoration: none;

}

.footer__social-list {
    display: flex;
    justify-content: end;
    gap: 48px;
    margin-left: 0;
    padding: 0;

}

.footer__social-list-item {
    width: 48px;
    height: 48px;
    list-style: none;
}

.footer__social-link {
    margin-left: 4px;
    width: 48px;
}

.footer__social-icon {
    padding-top: 1px;

}