
.header {
    padding: 92px 50px 96px 50px;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    font-size: 20px;
    text-decoration-skip-ink: none;
}

.header__menu {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    list-style: circle;
}

.header__links-list {
    text-decoration: none;
}

.header__links-list-item {
    list-style-type: circle;
    text-underline-position: under;
}

.header__links-list-item_no-bullit {
    list-style-type: circle;
}

.header__link {
    text-decoration: underline;
    display: flex;
    flex-direction: row;
}

.header__link_active {
    text-decoration: none;
}

.header__logo {
    display: block;
    width: 148px;
    height: 112px;

}

.header__logo_image {
    justify-self: center;
    width: 148px;
    height: 105px;
}

.address {
    justify-self: end;
    font-size: 18px;
    font-style: normal;
    line-height: 1.35;
}

.header__address {
    display: flex;
    justify-self: end;
    flex-direction: column;
    align-items: flex-start;
    
}

.cover {
    position: relative;
    padding: 170px 50px 50px;
    background-image: url(../images/cover.jpg);
    background-position: center;
    background-size: cover;

}

.overlay {
    position: absolute;

}

.cover__title {
    margin-bottom: 135px;
    color:#FFFFFF;
    font-size: 100px;
    line-height: 1.15;
    letter-spacing: 1.15;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
;
}

.aligned-text {

}

.aligned-text_left {

}

.aligned-text_center {

}

.aligned-text_right {

}

.letter-spacing-extended {

}

.cover__description {

}

.cover__description-text {

}

.bet-button {

}